{
  "MRUDbConnId": "c7579aa5-53bd-4365-b162-d30262269920",
  "MRUSortAsc": false,
  "MRUPageLength": 100,
  "AutoRefreshTimerIntervalMs": 5000,
  "AutoRefreshTimeoutTimerIntervalMs": 60000,
  "DbConns": [
    {
      "Id": "00000000-0000-0000-0000-000000000000",
      "Name": "",
      "ConnString": null,
      "IsDefault": false
    },
    {
      "Id": "c7579aa5-53bd-4365-b162-d30262269920",
      "Name": "Dyvenix (Azure)",
      "ConnString": "Data Source=dyvenix.database.windows.net;Initial Catalog=dyvenix;Persist Security Info=True;User ID=dyvenix_admin;Password=dyv_pwd1;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;Command Timeout=10;Connection Timeout=8;",
      "IsDefault": false
    },
    {
      "Id": "597216f3-9f9e-47d3-943f-c85979a820aa",
      "Name": "Dyvenix (Local)",
      "ConnString": "Data Source=localhost;Initial Catalog=dyvenix;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Command Timeout=30;;;;;",
      "IsDefault": true
    }
  ],
  "WindowPosition": {
    "IsEmpty": false,
    "X": -2160,
    "Y": -1221
  },
  "WindowSize": {
    "IsEmpty": false,
    "Width": 2170,
    "Height": 1222
  },
  "ColWidths": [
    262,
    110,
    138,
    238,
    1329
  ]
}